<div class="container-nav navbar navbar-expand-lg ">
  <div class="left-nav ">
    <img src="" />
    <div class="action-1 nav-item">
      <a class="text-2 nav-link active" routerLink="/accueil">Home</a>
    </div>
  </div>
  <div class="right-nav">
    <div class="profile">
      <div class="avatar">
        <div class="image" >
          <p class="text-5">{{firstname}} {{lastname}}</p>
          <img  src="../../../assets/images/no_user_image.png" />  
        </div>  
      </div>    
      
    </div>
  </div>
</div>