<div class="containere">
    <div class="center">
      <div class="action-1">
        <p class="text-1">PRODUCTS</p>
      </div>
      <div class="action-2">
        <p class="text-2">RECIPES</p>
      </div>
      <div class="action-3">
        <p class="text-3">Promotions</p>
      </div>
      <div class="action-4">
        <p class="text-4">ideas</p>
      </div>
      <div class="action-5">
        <p class="text-5">about us</p>
      </div>
    </div>
    <div class="shopping-icon">
      <img src="" />
    </div>
  </div>